@import url(./fonts.css);

body{
    font-family: "Inter";
    background-color: #141414;
}
a{
    text-decoration: none;
}
.in-image{
    border-radius: 999px;
    width: 88px;
    height: 88px;
}
.content{
    display: inline-block;
    background-color:  #1F1F1F;
    width: 384px;
    border-radius: 12px;
}
.box{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
}
.img{
    display: flex;
    justify-content: center;
}
.texts{
    text-align: center;
}
.first-text{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}
span{
    font-size: 14px;
    color: #C4F82A;
    font-weight: 700;
}
.third-text{
    font-size: 14px;
    font-weight: 100;
    color: white;
    text-align: center;
}
.links{
    display: inline-block;
    padding-top: 24px;
    padding-left: 3px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.a-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #333;
    color: white;
    height: 45px;
    width: 300px;
    transition: 0.2s;
}
.a-link:hover{
    background-color: #C4F82A;
    color: #333333;
}
.total-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.header{
    background-color: rgb(76, 76, 76);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul{
    list-style: none;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}
.header-item{
    display: flex;
}
.header-link{
    color: #FFFFFF;
    padding-right: 17px;
    padding-left: 17px;
    transition: 0.2s;
}
.header-link:hover{
    padding: 12px;
    padding-right: 17px;
    padding-left: 17px;
    color: #FFFFFF;
    border-bottom: 2px solid #C4F82A;
    background-color: rgb(93, 93, 93);
    top: 0;
}
.header-btn{
    border: 0.3px solid white;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: #FFFFFF;
    transition: .2s;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}
.header-btn:hover{
    color: #333333;
    background-color: #C4F82A;
}
.header-btn:active{
    color: #333333;
    background-color: #C4F82A;
}

